body {
    background-color: #d9d9d9
}

.navBG {
    background-color: #2c3e50;
}
#fbBackground {
    background: url(/images/newcarb.jpg) no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.btnWide {
    width: 100%
}

.fizzbuzz {
    color: green;
    font-size: large;
}

.fizzTitle {
    color: blue;
    font-size: 55px;
}

.buzzTitle {
    color: red;
    font-size: 55px;
}

.fizzbuzzTitle {
    color: green;
    font-size: 55px;
}

.smaller {
    font-size: medium;
}

.fizz {
    color: blue;
    font-size: large;
}

.buzz {
    color: red;
    font-size: large;
}

.resultpad {
    padding-bottom: 20px;
}
